<section style="margin-top: 25px;">
	<div class="container">
		<div class="d-flex flex-wrap posts">
			{{#foreach posts from="1" to="6" visibility="all"}}
			{{>loop_item}}
			{{/foreach}}
		</div>
	</div>
</section>