{{#if next}}
<div class="container" style="margin-bottom: 30px;">
  <button class="btn btn-icon btn-primary mt-4 load-more" type="button">
    <span class="btn-inner--text">{{t "Show more"}}</span>
    <span class="btn-inner--icon"><i class="ni ni-bold-right"></i></span>
  </button>
</div>
{{/if}}